html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
  background: var(--root-bg);
}

* {
  box-sizing: border-box;
}

ul {
  padding-inline-start: 40px;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

:root {
  --root-bg: white; /*整个文档背影*/
  --nav-width: 300px; /*菜单宽度*/
  --nav-bg: #f0efe7; /*菜单背景*/
  --nav-item-color: #413932; /*菜单项字颜色*/
  --nav-item-hover-color: #f14e32; /*菜单项字选中或hover颜色*/
  --nav-item-hover-bg: #895c8f; /*菜单项选中或hover背影颜色*/
  --post-max-width: 1800px; /*中间文档宽度*/
  --article-bg: white; /*中间文档背景*/
  --article-body-font-size: 22px; /*中间文档body字号*/
}
